
:root{
    --first-color:#1A73E8;
    --input-color:#80868B;
    --border-color:#DADCE0;
}
 

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form{
    margin-left: 200px;
    height: 300px;
    padding: 80px;
    width: 900px;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgb(92, 99, 105, .2);
}

input[type=number], select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    width: 10%;
    background-color:#1A73E8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } 